<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138023735994-3pfktr26bu94sbvai6vpjfo0tfvdvbip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138023735994-3pfktr26bu94sbvai6vpjfo0tfvdvbip</string>
	<key>API_KEY</key>
	<string>AIzaSyCEht6KUI5g5WrjFt-68c4SU0C2cRiai3c</string>
	<key>GCM_SENDER_ID</key>
	<string>138023735994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagramflutter-ede55</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramflutter-ede55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138023735994:ios:5d175db3a46673b84da883</string>
</dict>
</plist>